Factorial 

5* 4* 3* 2* 1

Create a function squared(), which takes x and y as arguments and returns the x**y value. For e.g., if x = 2 and y = 3 , then the output is 8.



Sample Input:

['6','7']



Sample Output:

﻿279936

Create a lambda function 'greater', which takes two arguments x and y and return x if x>y otherwise y.

If x = 2 and y= 3, then the output should be 3.



Sample Input:

['9','3']



Sample Output:

﻿9

countries = [ "India", "Korea", "Canada", "Turkish"]

using map and lambda concept print elements of the list in uppercase.

map function to create a list from a tuple with each of its elements squared.

using filter function print multiples of 4 between 2 to 100. Note: ouput should be in the form of list

the filter command was used to create an application that can count the number of students whose age is above 18.